<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Feature Miner/src/ca/pfv/spmf/test/MainTestAllAssociationRules_CFPGrowth_saveToMemory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.pfv.spmf.test.MainTestAllAssociationRules_CFPGrowth_saveToMemory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Feature Miner"/>
</launchConfiguration>
